<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Este es el mensaje:</p>
    <p><%= @user.fname %></p>
    <p><%= @message.idea %></p>
  </body>
</html>