<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hello <%= @user.fname %>,</h4>
    <p>You have successfully signed up for an account with us.</p>
    <p>Your username is: <%= @user.email %></p>
    <p>Log in to the site clicking on this link: <%= @url %></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>