  <!-- TOP DIV HTML -->
  <div id="main_top_div">
    <div id="main_logo">
      <label id="main_logo_label">me-<span>2</span>-me</lable>
    </div>

    <div id="main_user">
      <a href="/sessions/new"><button class="user_sign_button">SIGN IN</button></a>
      <a href="/users/new"><button class="user_sign_button">SIGN UP</button></a>
    </div>
  </div>

  <!-- FEATURES HTML -->
  <div id="main_middle_container">

    <div id="main_message">
      <label class="main_message_label">Start the dialogue with yourself.</label>
    </div>

    <div id="main_features">
      <div id="main_features_left_front" class="shrink">
        <img id="img_left" src="/assets/message.png">
        <p id="p_left">SELF MESSAGES<p>
      </div>
      <div id="main_features_left_back" class="shrink">
        <ul>
          <li>write a letter to your future self with your goals and resolutions</li>
          <li>me-2-me will email it back to you on the specified delivery date</li>
          <li>get surprised with how life unfolded against what you expected
        </ul>
      </div>
      <div id="main_features_right_front" class="shrink">
        <img id="img_right" src="/assets/timecapsule.png">
        <p id="p_right">TIME CAPSULE<p>
      </div>
      <div id="main_features_right_back" class="shrink">
        <ul>
          <li>write down important thoughts that come to mind</li>
          <li>me-2-me will email them back to you unexpectedly</li>
          <li>get re-inspired by all the great ideas you once had
        </ul>
      </div>
    </div>

    <div id="main_signup">
      <div id="main_signup_form">
        <label class="main_message_label">
          Sign up for a <span>FREE</span> account.
        </label>
        <a href="/users/new"></a>
      </div>
    </div>
  </div>

