
  <div id="main_bar">
    <div id="main_logo">
      <label id="main_logo_label">me-<span>2</span>-me</lable>
    </div>
    <div id="main_options">
      <ul id="main_options_list">
        <li class="main_options_li">SELF MESSAGE</li>&nbsp;&nbsp;
        <li class="main_options_li">TIME CAPSULE</li>&nbsp;&nbsp;
        <li class="main_options_li">INSPIRATIONAL QUOTES</li>
      </ul>
      <div id="main_options_border"></div>
    </div>
    <div id="main_user">
      <div id="main_user_signin">
        <a href="/sessions/new"><button class="user_sign_button">Sign In</button></a>
      </div>
      <div id="main_user_signup">
        <a href="/users/new"><button class="user_sign_button">Sign Up</button></a>
      </div>
    </div>
  </div>

  <div id="main_message">
    <label id="main_message_label">Start the dialogue with yourself.</label>
  </div>
  <div id="main_carrousel">
    <div id="main_carro_left">
      <div class="main_carro_top">
        <!-- <img src="/assets/message.png" width="230" height="120"> -->
        <img src="/assets/message.png" width="170" height="90" id="img1">
      </div>
      <div class="main_carro_middle">
        <label class="main_carro_middle">
          <p id="p1">Self Message<p>
        </label>
      </div>
      <!-- <div class="main_carro_bottom">
        <p>Write down important thoughts or messages and receive by email them in a random date in the future.
        </p>
      </div> -->
    </div>
    <div id="main_carro_center">
      <div class="main_carro_top">
        <!-- <img src="/assets/timecapsule.png" width="240" height="120"> -->
        <img src="/assets/timecapsule.png" width="200" height="90" id="img2">
      </div>
      <div class="main_carro_middle">
        <label class="main_carro_middle">
          <p id="p2">Time Capsule<p>
        </label>
      </div>
      <!-- <div class="main_carro_bottom">
        <p>Send yourself a letter to be opened in the future. What would you want to say to your future you?
        </p>
      </div> -->
    </div>
    <div id="main_carro_right">
      <div class="main_carro_top">
        <!-- <img src="/assets/quote.png" width="240" height="120"> -->
        <img src="/assets/quote.png" width="200" height="80" id="img3">
      </div>
      <div class="main_carro_middle">
        <label class="main_carro_middle">
          <p id="p3">Inspirational Quotes<p>
        </label>
      </div>
      <!-- <div class="main_carro_bottom">
        <p>Get inspired by the most all the great thinkers that have changed the course of history and the way we think.</p>
      </div> -->
    </div>
  </div>

  <div id="main_signup">
    <div id="main_signup_form">
      <label id="main_signup_form_label">
        Get a free account.
      </label>
      <a href="/users/new"><button id="main_signup_form_button">Sign Up</button></a>
    </div>
  </div>
  <!-- <div id="main_onetime">

  </div> -->
  <!-- <div id="main_info">
    <label id="main_info_label_left">General Assembly (2013)</label>
    <label id="main_info_label_right">Santiago G.L.</label>
  </div> -->
