<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @letter.body %></p>
    <p>Created on: <%= @created_at %></p>
  </body>
</html>