<div class="ltr_container">
  <div class="ltr_container_subject_due">
    SUBJECT:&nbsp;&nbsp;<%=data["subject"]%>
  </div>
  <div class="ltr_container_options_due">
    CREATED ON: <span><%=created_date%></span>&nbsp;&nbsp;
    DUE ON: <span><%=delivery_date%></span>
  </div>
</div>