<div class="msg_container">
  <div class="msg_container_title">
    TITLE:&nbsp;&nbsp;<%=value["title"]%>
  </div>
  <div class="msg_container_text">
    <%=value["idea"]%>
  </div>
  <div class="msg_container_options">
    CREATED ON: <%=date%>
  </div>
</div>