// ****************************
// LANDING PAGE CSS
// ****************************

// TOP DIV CSS ====================
body {
    margin: 0;
}

#main_top_div{
    height: 110px;
}

#main_logo{
    float: left;
    margin-top: -10px;
    margin-left: 120px;
}

#main_logo_label{
    font-size: 75px;
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    color: #4C4C58;
}

span{
    color: #c0392b;
}

#main_user{
    float: right;
    width: 30%;
    margin-right: 120px;
    margin-top: 50px;
}

.user_sign_button{
    height: 35px;
    width: 110px;
    background-color: #c0392b;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 10px;
    margin-left: 8px;
    float: right;
}
.user_sign_button:focus{
    background-color: #73221A;
}


// FEATURES DIV CSS ====================
#main_middle_container {
    background-color: #EEEEEE;
}

#main_message{
    height: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}

.main_message_label{
    margin-top: 0px;
    font-size: 25px;
    color: grey;
    font-family: 'Gloria Hallelujah', cursive;
}

#main_features{
    background-color: #d95a2b;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 350px;
    box-shadow:4px 1px 15px 2px grey;
}

#main_features_left_front{
    background-color: #d95a2b;
    height: 350px;
    width: 50%;
    float: left;
    text-align: center;
}

#main_features_left_back{
    background-color: #f27c38;
    height: 350px;
    width: 50%;
    float: left;
    display: none;
}

#main_features_right_front{
    background-color: #f27c38;
    height: 350px;
    width: 50%;
    float: right;
    text-align: center;
}

#main_features_right_back{
    background-color: #d95a2b;
    height: 350px;
    width: 50%;
    float: right;
    display: none;
}

#img_left {
    width: 200px;
    height: 125px;
    margin-top: 70px;
    border-radius: 15px;
}

#p_left {
    font-size: 35px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

#img_right {
    width: 240px;
    height: 125px;
    margin-top: 70px;
}

#p_right {
    font-size: 35px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

ul {
    margin-right: 25px;
}

li {
    color: white;
    text-align: left;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 25px;
}


#main_signup{
    margin-top: 10px;
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main_signup_form{
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main_signup_form_label{
    font-size: 25px;
    color: #4C4C58;
}

#main_signup_form_button{
    height: 50px;
    width: 100px;
    margin-left: 20px;
    background-color: #c0392b;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#main_signup_form_button:focus{
    background-color: #73221A;
}

#main_info{
    height: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#main_info_label_left{
    float: left;
    font-size: 15px;
    margin-left: 2px;
    color: grey;
}

#main_info_label_right{
    float: right;
    font-size: 15px;
    margin-right: 2px;
    color: grey;
}

#error_404 {
    background-image: url("/assets/monster_me2me.png");
    background-size: cover;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.shrink:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

