// ****************************
// LANDING PAGE CSS
// ****************************

#main_bar{
    height: 80px;
    margin-top: -8px;
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 0px;
}

#main_logo{
    float: left;
    margin-top: 15px;
    height: 60px;
    width: 250px;
}

#main_logo_label{
    font-size: 60px;
    color: black;
    margin-left: 10px;

}
span{
    color: #c0392b;
}

#main_options{
    float: left;
    margin-top: 20px;
    height: 45px;
    width: 500px;
    padding-top: 11px;
}


#main_options_list{
    text-decoration: none;
    list-style-type: none;
    height: 20px;
    width: 600px;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 1px;
    font-family: arial;
    font-size: 15px;
}


.main_options_li{
    display: inline;
    margin-right: 25px;
}

#main_options_border{
    background-color: #4C4C58;
    height: 1px;
    width: 490px;
    margin-top: 0px;
}

#main_user{
    float: right;
    height: 50px;
    width: 200px;
    margin-right: 20px;
}


#main_user_signin{
    float: left;
    height: 40px;
    width: 100px;
}

#main_user_signup{
    float: right;
    height: 40px;
    width: 100px;
}

.user_sign_button{
    height: 30px;
    width: 90px;
    margin-left: 5px;
    background-color: #c0392b;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    margin-top: -5px;
}
.user_sign_button:focus{
    background-color: #73221A;
}

#main_message{
    height: 60px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#main_message_label{
    margin-top: 0px;
    font-size: 30px;
    color:#4C4C58;
}

#main_carrousel{
    background-color: white;
    width: 1114px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 370px;
    box-shadow:4px 1px 15px 2px grey;
}

#main_carro_left{
    background-color: #bf491f;
    padding-top: 50px;
    // height: 370px;
    height: 320px;
    width: 370px;
    float: left;
}

#main_carro_center{
    background-color: #d95a2b;
    padding-top: 50px;
    // height: 370px;
    height: 320px;
    width: 370px;
    float: left;
    border-left: 2px solid white;
}

#main_carro_right{
    background-color: #f27c38;
    padding-top: 50px;
    // height: 370px;
    height: 320px;
    width: 370px;
    border-left: 2px solid white;
    float: left;
}

.main_carro_top{
    width: 325px;
    height: 120px;
    padding-top: 40px;
    padding-left: 90px;
}

.main_carro_middle{
    width: 425px;
    height: 65px;
    color: white;
    font-size: 30px;
    font-family: arial;
    padding-top: 10px;
}

#img1{
    padding-left: 15px;
}
#img2{
    padding-left: -25px;
}
#p1{
    padding-left: 95px;
}
#p2{
    padding-left: 95px;
}
#p3{
    padding-left: 45px;
}

img{
    border-radius: 10px;
}

#main_signup{
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 10px;
    height: 65px;
    padding-top: 30px;
    margin-bottom: 0px;
}

#main_signup_form{
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main_signup_form_label{
    font-size: 25px;
    color: #4C4C58;
}

#main_signup_form_button{
    height: 50px;
    width: 100px;
    margin-left: 20px;
    background-color: #c0392b;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#main_signup_form_button:focus{
    background-color: #73221A;
}

#main_info{
    margin-left: -8px;
    margin-right: -8px;
    height: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#main_info_label_left{
    float: left;
    font-size: 15px;
    margin-left: 2px;
    color: grey;
}

#main_info_label_right{
    float: right;
    font-size: 15px;
    margin-right: 2px;
    color: grey;
}


