// NEW USER CSS ==========
#sign_body{
  background-color: #EEEEEE;
}

#sign_navbar{
  background-color: #28282A;
  height: 70px;
  margin-bottom: 0px;
}

#sign_logo{
  float: left;
  width: 250px;
  margin-top: -18px;
  margin-left: 15px;
}

#sign_logo_label{
  font-size: 50px;
  color: white;
  text-decoration: none;
  font-family: 'Gloria Hallelujah', cursive;
}

.navbar_right_option{
  float: right;
  height: 45px;
  width: 150px;
  text-align: right;
  padding-right: 15px;
  padding-top: 18px;
  color: white;
}

#navbar_right_option_sign{
  text-align: right;
  color: #c0392b;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  text-decoration: none;
}

#navbar_right_option_sign:hover{
  color: white;
}

#sign_errors{
  width: 480px;
  color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: pink;
}
#sign_block{
  background-color: white;
  margin-top: 40px;
  width: 378px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 5px 0px grey;
  border-collapse: collapse;
  border-spacing: 4px 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

#signup_message{
  margin-bottom: 10px;
}

#signup_message_label{
  color: #28282A;
  font-size: 23px;
  font-family: 'Gloria Hallelujah', cursive;
}

#sign_options_border{
  background-color: grey;
  height: 1px;
  width: 375px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}

#user_fname,
#user_lname,
#user_email,
#user_password,
#user_password_confirmation{
  font-size: 20px;
  box-shadow: none;
  height: 35px;
  width: 370px;
  margin-bottom: 10px;
}

input[name="commit"]{
  height: 45px;
  width: 150px;
  margin-top: 10px;
  margin-left: 110px;
  background-color: #c0392b;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
}

input[name="commit"]:focus{
  background-color: #73221A;
}

#sign_block{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 13px;
}

.signin_input{
  font-size: 20px;
  box-shadow: none;
  height: 35px;
  width: 360px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#signin_button{
  height: 45px;
  width: 150px;
  margin-top: 10px;
  margin-left: 110px;
  background-color: #c0392b;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
}
#signin_button:focus{
    background-color: #73221A;
}
