
#switch{
  float: left;
  height: 70px;
  width: 326px;
  margin-left: 225px;
  padding-top: 45px;
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 13px;
}

#switch1{
  float: left;
  width: 108px;
  height: 36px;
  background-color: #bf491f;
  box-shadow:0px 0px 2px 0.5px black;
  padding-top: 4px;
}

#switch1:hover{
  background-color: #6C2D16;
  cursor: pointer;
}

#switch2{
  float: left;
  width: 108px;
  height: 36px;
  background-color: #d95a2b;
  box-shadow:0px 0px 2px 0.5px black;
  padding-top: 4px;
}

#switch2:hover{
  background-color: #6C2D16;
  cursor: pointer;
}

#switch3{
  float: left;
  width: 108px;
  height: 36px;
  background-color: #f27c38;
  box-shadow:0px 0px 2px 0.5px black;
  padding-top: 4px;
}

#switch3:hover{
  background-color: #6C2D16;
  cursor: pointer;
}

#account_settings{
  float: right;
  height: 45px;
  width: 250px;
  text-align: right;
  padding-right: 10px;
  padding-top: 25px;
}

#account_name{
  color: white;
  font-family: arial;
  font-size: 17px;
}

a:-webkit-any-link{
  color: #c0392b;
  font-family: arial;
  font-size: 15px;
}



